openapi: 3.2.0
info:
  title: Lvlltd Com Pay API
  version: 1.6.0
  contact:
    name: LVL LTD CO
    url: https://lvlltd.com
  description: 'Operations tagged Pay across 2 of this provider''s published API definitions: lvlltd-com-openapi.json, lvlltd-com-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://lvlltd.com
tags:
- name: Pay
paths:
  /api/pay:
    get:
      summary: x402 payment challenge (HTTP 402)
      parameters:
      - name: skill
        in: query
        required: true
        schema:
          type: string
      responses:
        '402':
          description: Payment required challenge
      tags:
      - Pay
      operationId: getApiPay
      x-operation-id-source: derived
    post:
      summary: Unlock sealed pack after Base USDC payment
      parameters:
      - name: X-PAYMENT
        in: header
        schema:
          type: string
      - name: X-AP2-MANDATE
        in: header
        schema:
          type: string
        description: Optional AP2 mandate
      responses:
        '200':
          description: Unlocked sealed pack
        '402':
          description: Payment required or verification failed
        '403':
          description: AP2 mandate rejected
      tags:
      - Pay
      operationId: postApiPay
      x-operation-id-source: derived
    servers:
    - url: https://lvlltd.com
x-refined-from:
- lvlltd-com-openapi.json
- lvlltd-com-openapi.yml
x-lvl-skill-count: 250
x-lvl-source-of-truth: catalog.json
